@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&family=Work+Sans:wght@400;600;700&display=swap");
body {
  background: #eff7fa;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  /* max-width: 960px; */
  max-width: 1300px;
  margin: 0 auto;
}
header .container {
  padding: 2rem 5rem;
}
nav {
  /* margin: 10px auto 80px; */
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* border-bottom: 1px solid #ddd; */
}
nav a {
  margin-left: 0px;
  padding: .5rem 1rem;
  border: 1.5px solid transparent;
}
nav a:hover{
 border-bottom: 1.5px solid #0f97b8; 
}
.last{
  background: #0f97b8;
  color: white;
  border-radius: 99px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
/* Start About Section */
#about {
  background: white;
  box-shadow: 0 -1rem 2rem -1.5rem rgb(0 0 0 / 15%), 0 1rem 2rem -1.5rem rgb(0 0 0 / 15%);
}
.about__container{
  padding: 8rem 5rem 5rem;
}
.heading{
  font-weight: 700;
  position: relative;
  margin-bottom: 3rem;
  color: #0f97b8;
  font-size: 1.75rem;
  text-transform: uppercase;
  z-index: 2;
}
.heading:before {
  position: absolute;
  content: "";
  height: 3rem;
  width: 3rem;
  border-radius: 99px;
  background: #eff7fa;
  z-index: -1;
  left: -1.5rem;
  top: -.5rem;
  box-shadow: -2px 2px white,-4px 4px #0f97b8;
}
.about-who {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}
.about-who .hero-image {
   width: 35%; 
   max-width: 300px; 
  margin-bottom: auto;
}
.about-who .hero-content {
  margin: auto 0 1rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-content h4 {
  font-weight: 800;
  font-size: 1.5rem;
  color: #7b8ba4;
  opacity: .5;
  margin-bottom: 0;
  font-family: "Work Sans", sans-serif;
}
.hero-content .title {
  font-weight: 800;
  margin-bottom: 0.1rem;
  margin-left: -.15rem;
  line-height: 1;
  margin-top: .2rem;
  font-size: 2.5rem;
  font-family: "Work Sans", sans-serif;
}
.phonetics {
  display: flex;
  justify-content: flex-start;
  margin-bottom: .5rem;
  font-size: 1rem;
}
.lighter {
  color: #7b8ba4;
}
.phonetics .speaker {
  margin-left: 0.4rem;
  height: 1.25em;
  margin-bottom: .25rem;
  cursor: pointer;
  transform-origin: 0 75%;
}
.speaker.isPlaying {
  -webkit-animation: speaker .6s linear infinite;
  animation: speaker .6s linear infinite;
}
.speaker.isPlaying .waves {
  -webkit-animation: wave .3s ease infinite alternate;
  animation: wave .3s ease infinite alternate
}

.waves:first-of-type {
  -webkit-animation-delay: .15s;
  animation-delay: .15s
}

.waves:nth-of-type(2) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

@-webkit-keyframes wave {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes wave {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}
@-webkit-keyframes speaker {
  0%,33%,66%,to {
      transform: scale(1)
  }

  25%,50% {
      transform: scale(1.2) rotate(-5deg)
  }
}

@keyframes speaker {
  0%,33%,66%,to {
      transform: scale(1)
  }

  25%,50% {
      transform: scale(1.2) rotate(-5deg)
  }
}
.description {
  margin-bottom: 3rem;
  max-width: 520px;
  font-size: 1rem;
}
.cta {
  background: #eff7fa;
  padding: .75rem 2rem .75rem 3.25rem;
  font-size: 1.15rem;
  border-radius: 5rem;
  position: relative;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: all .3s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #0f97b8;
}
.cta #hand {
  width: 3.25rem;
  position: absolute;
  left: -1.25rem;
  top: -.5rem;
  -webkit-animation: wavingHands 2s ease-in-out infinite;
  animation: wavingHands 2s ease-in-out infinite;
  transform-origin: 60% 100%;
  filter: drop-shadow(.25rem .25rem .5rem rgba(45,147,173,.2));
}
@-webkit-keyframes wavingHands {
  0%,60%,to {
      transform: rotate(0deg)
  }

  10%,30% {
      transform: rotate(14deg)
  }

  20% {
      transform: rotate(-8deg)
  }

  40% {
      transform: rotate(-4deg)
  }

  50% {
      transform: rotate(10deg)
  }
}

@keyframes wavingHands {
  0%,60%,to {
      transform: rotate(0deg)
  }

  10%,30% {
      transform: rotate(14deg)
  }

  20% {
      transform: rotate(-8deg)
  }

  40% {
      transform: rotate(-4deg)
  }

  50% {
      transform: rotate(10deg)
  }
}
.cta:hover {
  color: #0f97b8;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
}
/* End About Section */