
.hero__inner{
    display: flex;
    padding: 1rem 3rem 5rem 3rem;
    align-items: center;
}
.hero__tagline{
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    color: #0f97b8;
    letter-spacing: 3px;
}
.hero__title{
    font-weight: 900;
    -webkit-text-stroke: 2px #000;
    color: #eff7fa;
    font-size: 3.25rem;
    text-shadow: -.25rem .25rem #000;
    margin: 1rem 0rem 2rem 0rem;
}
.hero__desc{
    color: #000;
    font-size: 1.35rem;
}
/* .hero-inner .container {
    padding: 0;
    overflow: visible;
} */
.hero__inner__splitOne {
    flex: 0.45;
    margin: 5rem 0;
 
}
.hero__inner__splitTwo {
    flex: 0.55;
    margin-top: 0;
}
/* .hero__inner__splitTwo>div>svg{
  width: 1420px !important;
} */
.pitch{
    font-size: 1rem;
    color: #0f97b8;
    font-weight: 500;
    margin-bottom: .25rem;
}
.btn{
    background: #0f97b8;
    border-radius: .5rem;
    border: none;
    color: #fff;
    padding: 1.1rem 1.5rem;
    margin-top: 0.4rem;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    box-shadow: 0 0.5rem 1.5rem rgb(45 147 173 / 50%);
}